<%- include('partials/header') %>
<link rel="stylesheet" href="css/style3.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
  <div class="container" >
    <a class="navbar-brand" href="/" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">FitPulse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Daily Exercies</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/timetable">Class Time Table</a></li>
            <li><a class="dropdown-item" href="#">Special Exercies</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=data%>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user">Dash Board</a></li>
            <li><a class="dropdown-item" href="/login">Log Out</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"></a></li>
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
      <div class="title-text">
        <div class="title login">Activity</div>
        <div class="title signup">Weight Lifting</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Activity</label>
          <label for="signup" class="slide signup">Weight Lifting</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="/addlog" class="login">
            <div class="field">
              <label for="activity"></label>
              <select name="activity" required>
                  <% for( let index = 0;index<act.activities.length;index++){ %>
                      <option value="<%= act.activities[index] %>"><%= act.activities[index] %></option>
                  <% } %>
              </select>
            </div>
            <div class="field">
                <label for="duration"></label>
                <input type="number" class="form-control" name="duration" placeholder="in minutes" required>
            </div>
            <div class="field btn">
                <label for="date"></label>
                <input type="date" class="form-control" name="date" placeholder="date" required>
            </div>
            <br>
            <br>
            <div class="field">
              <button type="submit" class="btn btn-dark">ADD</button>
            </div>
          </form>
          <form action="/addlog" class="signup">
            <div class="field">
                <label for="activity"></label>
                <select name="activity" required>
                    <option value="Weight_Lifting">Weight Lifting</option>
                </select>
              </div>
              <div class="field">
                  <label for="duration"></label>
                  <input type="number" class="form-control" name="duration" placeholder="in Kg" required>
              </div>
              <div class="field btn">
                  <label for="date"></label>
                  <input type="date" class="form-control" name="date" placeholder="date" required>
              </div>
              <br>
              <br>
              <button type="submit" class="btn btn-dark">ADD</button>
            </form>
        </div>
      </div>
    </div>

<script src="js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
